name: Build

on:
  push:
    branches: [ "1.20.1", "1.21.1" ]
  pull_request:
    branches: [ "1.20.1", "1.21.1" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v2

      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Make Gradle Wrapper Executable
        run: chmod +x gradlew

      - name: Build with Gradle
        uses: gradle/gradle-build-action@v3
        with:
          arguments: build

      - name: Capture Build Artifacts
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: ReliableRecipes-${{ github.ref_name }}
          path: |
            **/build/libs/*.jar
            !**/build/libs/*-sources.jar
            !**/build/libs/*-dev.jar
